/* This file is for your main application css. */

html, body {
  font-family: Ubuntu, sans-serif;
  background: #fc987e;
  color: #212121;
  height:90%;
}

header, h1 {
  padding: 10px;
  text-align: center;
  background: white;
  color: #fcb57f;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.wrapper {
  width: 800px;
  min-height: 90vh;
  display: block;
  margin: auto;
  background: white;
  padding: 10px;
}

button {
  background: #fcd27e;
}

.flex-containers {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  background: #fcb57f;
}

.plant-img {
  min-width: 150px;
}

#progressbar {
  background-color: #FCE5D9;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
  background-color: #3CA764;
  height: 20px;
  border-radius: 10px;
}

.footer{
  text-align: center;
  margin: auto;
  display: block;
}
