/* This file is for your main application css. */

html, body {
  font-family: Ubuntu, sans-serif;
  background: #fc987e;
  color: #212121;
  height:90%;
}
.wrapper {
  width: 800px;
  height: 100%;
  display: block;
  margin: auto;
  background: #fba67d;
}

button {
  background: #fcd27e;
}

.flex-containers {
  display: flex;
}

.flex-container {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  background: #fcb57f;
}
