/* This file is for your main application css. */

*,*:before,*:after {
  box-sizing: border-box;
}

html, body {
  font-family: Ubuntu, sans-serif;
  background: #f3d0c7;
  color: #212121;
  height:90%;
  margin:0;
}

header {
  background: white;
  text-align: center;
  color: #fcb57f;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin: 0 auto 1em;
}

h1 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

.label {
  margin: 0.5em 0;
  display: block;
}

.img-label {
  text-align: center;
}

.header-image {
  height: auto;
  width: 280px;
}

.header-writing {
  margin-right: 2em;
}

.title-bar {
  background: white;
  padding: 1em 0;
}

.wrapper {
  width: 800px;
  min-height: 80vh;
  display: block;
  margin: auto;
  background: white;
  padding: 1em 2em;
}

.button {
  background-color: hsl(206, 95%, 74%);
  padding: 1em 2em;
  margin-right: 2em;
  border: none;
  cursor: pointer;
  color: hsl(206, 95%, 20%);
  font-size: 1rem;
}

.flex-containers {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.flex-container {
  padding: 10px;
  list-style-type: none;
  background: #fcb57f;
}

.flex-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  float:left;
}

.flex-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.welcome-message {
  text-align: center;
  background: #FCE5D9;
  color: #727171;
  border-style: solid;
  border-color: #fcb57f;
  border-width: 10px;
  margin-bottom: 2rem;
  padding: 1.5em;
}

.plant-img {
  min-width: 120px;
}

#progressbar {
  background-color: #FCE5D9;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
  background-color: #3CA764;
  height: 20px;
  border-radius: 10px;
}

.footer{
  text-align: center;
  margin: auto;
  display: block;
}
