 <a href="/">
  <header class="header">
    <h1>🌱 friend garden 🌱 </h1>
  </header>
</a>

<div class="welcome-message">
  <h2><%= gettext "Welcome to %{name}", name: "Friend Garden!" %></h2>
  <p class="lead">The place to garden your friendships</p>
  <p class="lead">Learn more about it how it works <a>here</a>.</p>
</div>

<ul class="flex-containers">
  <li class="flex-container">
    <img src="/images/plant3.png"/>
  </li>
  <li class="flex-container">
    <img src="/images/plant3.png"/>
  </li>
  <li class="flex-container">
    <img src="/images/plant3.png"/>
  </li>
</ul>
